<h1 class="big-boi">
   Make a wish to the gods of software engineering!
</h1>

<form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" ngNativeValidate>
  <mat-card class="container">

    <mat-form-field>
    <input
      matInput
      placeholder="Your Name"
      type="text"
      [ngModel]="wish_maker_name"
      (keyup)="updateWishMaker(checkout)"
      name="wish_maker_name">
    </mat-form-field>
    <br>
    <mat-form-field class="long-boi">
    <textarea
      matInput
      type="text"
      [ngModel]="wish_text"
      (keyup)="updateWishText(checkout)"
      name="wish_text">
      </textarea>
    </mat-form-field>
    <br>
    <label for="">How much will you give to the well?</label>
    <mat-form-field>
    ¢<input
      matInput
      class="amount-input"
      type="number"
      min="50"
      required
      [ngModel]="wish_amount"
      (keyup)="updateWishAmount(checkout)"
      name="wish_amount">
   </mat-form-field>
   <div [ngClass]="this.thinking == false ? 'hidden': 'visible'">
     <mat-progress-bar mode="buffer"></mat-progress-bar>
   </div>
  <div class="checkout" [ngClass]="this.thinking == true ? 'hidden': 'visible'">
    <div class="form-row">
      <div id="card-info" #cardInfo></div>

      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    </div>
    <button mat-button type="submit">give ¢{{wish_amount}}</button>
  </div>
  </mat-card>
</form>

<h4 class="small-boi">
  50¢ stripe minimum ☹️
</h4>

<mat-card matRipple class="relative-card" *ngIf="this.success_card" (click)="dropCard()">
  <div class="success-text">
    <h1>
      And just like that, it's gone!
    </h1>
    <h2>
      May fortune smile upon you.
    </h2>
  </div>
</mat-card>

<mat-card matRipple class="relative-card" *ngIf="this.error_card" (click)="dropCard()">
  <div class="success-text">
    <h1>
      Something's gone wrong!
    </h1>
    <h2>
      <strong><i>Thanks</i></strong> Obama.
    </h2>
  </div>

</mat-card>

<wish-list></wish-list>
