h1, h2, h3, h4 {
  text-align: center;
  font-family: Roboto;
}

.big-boi {
  font-size: 300%
}

.small-boi {
  color: grey;
}

.container {
  max-width: 30%;
  margin-left: 32%;
}

form {
  font-family: Roboto;
}

.amount-input {
  width: auto;
}

div.checkout {
  max-width: 500px;
  background: white;
  font-family: monospace;
  color: #525252;
  font-size: 1.1rem;
}

div.checkout button {
  color: white;
  background: #005565;
  border: none;
  border-radius: 4px;
  margin-top: 5%;
}

div.checkout button:active {
  background: rgb(165, 76, 43);
}

.relative-card {
  position: fixed;
  top: 10%;
  left: 25%;
  right: 0;
  z-index: 2;
  height: 50%;
  width: 50%;
  text-align: center;
}

.success-text {
  margin: 20%;
  font-size: 300%;
}

.long-boi {
  width: 100%;
}

.short-boi {
  width: 20%;
}
