<h1 class="big-boi">
   Make a wish to the gods of software engineering
</h1>

<form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" ngNativeValidate>
  <mat-card class="container">

    <mat-form-field>
    <input
      matInput
      placeholder="Your Name"
      type="text"
      [ngModel]="wish_maker_name"
      (keyup)="updateWishMaker(checkout)"
      name="wish_maker_name">
    </mat-form-field>
    <br>
    <mat-form-field class="long-boi">
    <textarea
      matInput
      type="text"
      [ngModel]="wish_text"
      (keyup)="updateWishText(checkout)"
      name="wish_text">
      </textarea>
    </mat-form-field>
    <br>
    <label for="">How much will you give to the well?</label>
    <mat-form-field>
    ¢<input
      matInput
      class="amount-input"
      type="number"
      min="50"
      required
      [ngModel]="wish_amount"
      (keyup)="updateWishAmount(checkout)"
      name="wish_amount">
   </mat-form-field>

  <div *ngIf="wish_amount.invalid"
    class="alert alert-danger">
    xxxx
   <div *ngIf="wish_amount.errors.min">
     Name must be at least 4 characters long.
   </div>
  </div>


  <div class="checkout">
    <div class="form-row">
      <div id="card-info" #cardInfo></div>

      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    </div>
    <button mat-button type="submit">give ¢{{wish_amount}}</button>

  </div>

  </mat-card>
</form>

<h4 class="small-boi">
  50¢ stripe minimum ☹️
</h4>

<mat-card class="relative-card" *ngFor="let card of this.success_card; index as i;" (click)="doTheThing()">
  <h1 class="success-text">
    May fortune smile on you!
  </h1>
</mat-card>
