<h1>For just 50¢ (stripe minimum ☹️) you too can make a wish to the gods of software engineering!</h1>


<form #wishInfo="ngForm" ngNativeValidate>

  <input
    type="text"
    required
    [ngModel]="wish_maker_name"
    (keyup)="updateWishMaker(wishInfo)"
    name="wish_maker_name">


  <textarea
    type="text"
    required
    [ngModel]="wish_text"
    (keyup)="updateWishText(wishInfo)"
    name="wish_text">
    </textarea>

  <input
   type="number"
   min="0.50"
   required
   [ngModel]="wish_amount"
   (keyup)="updateWishAmount(wishInfo)"
   name="wish_amount">

</form>

 <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout" ngNativeValidate>
  <div class="form-row">
    <label for="card-info">Card Info</label>
    <div id="card-info" #cardInfo></div>

    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
  </div>

  <button type="submit">give ${{wish_amount}}</button>
</form>
